.contact-image-container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
    position: relative;
}

.contact-image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Tooltip */
.tooltip {
    position: absolute;
    transform: translate(-50%, -100%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 150px;
    text-align: center;
    z-index: 100;
}

.tooltip h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.tooltip p {
    margin: 5px 0 0;
    font-size: 0.85rem;
    color: #ccc;
}

/* Hotspots */
.hotspot {
    position: absolute;
    width: 5%;
    height: 8%;
    background-color: rgba(0, 0, 0, 0); /* Invisible */
}
/* Específicos para cada persona */
.hotspotAlex {
    top: 30%;
    left: 30%;
}

.tooltipAlex {
    top: 20%;
    left: 31%;
}

.hotspotCristian {
    top: 34%;
    left: 40%;
}

.tooltipCristian {
    top: 20%;
    left: 42%;
}

.hotspotJuan {
    top: 31%;
    left: 49%;
}

.tooltipJuan {
    top: 20%;
    left: 50%;
}

.hotspotMisa {
    top: 28%;
    left: 59%;
}

.tooltipMisa {
    top: 20%;
    left: 61%;
}
/* Mostrar el tooltip al pasar el mouse sobre el hotspot */
.hotspot:hover + .tooltip {
    visibility: visible;
    opacity: 1;
}
